
#pageHdr{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr;
    gap: 0;
}

#pageTitle{
    grid-area: 2 / 1 / span 1 / span 1;
    margin: 0;
    padding: 0;
    font-size: 40px;
    text-align: center;
    color: aliceblue;
}

#pageDesc{
    grid-area: 3 / 1 / span 1 / span 1;
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
    color: aliceblue;
}

.bungee-shade-regular {
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.honk-title {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 200,
    "SHLN" 200;
}

.fugaz-one-regular {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  