
#ecParent{
    margin: 1rem;
}

#ecTitle{
    padding: 1rem;
    text-align: left;
    font-size: 20px;
}

#ecSubTitle{
    padding: 1rem;
    text-align: left;
    font-size: 20px;
}

.ecScrollDiv{
    max-height: 200px;
    padding: 1rem;
    overflow-y: auto;
    text-align: left;
    white-space: pre-wrap;
    font-size: 15px;
}