.nav.nav-pills .nav-link:not(active){
    color: aliceblue;
    font-size: 15px;
}

.nav.nav-pills .nav-link.active {
    background-color: rgb(14, 52, 86);
    color: aliceblue;
    font-size: 15px;
}