#navParent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr 1.5fr 0.5fr 1.5fr 1fr;
    gap: 0;
    min-height: 400px;
    min-width: 600px;
    background-color: rgba(22, 33, 49, 0.1);
    background-image: linear-gradient(360deg,  rgba(22, 33, 49, 0.1) 0%, rgba(18,16,14,0.4) 60%);
    backdrop-filter: blur(2px);
    border-radius: 25px;
    pointer-events: auto;
}

#navBgndOvrlay{
    grid-area: 1 / 1 / span 7 / span 3;
    background-color: rgba(205, 205, 239, 0.0);
    backdrop-filter: blur(0px);
    border-radius: 25px;
    z-index: 2;
}

.centerImg{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr 0fr 1fr;
    gap: 0;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.highlight{
    box-shadow: 0 0 5px 5px rgba(155, 198, 236, 0.588);
    border-radius: 50%;
    opacity: 1.0;
}

.navName{
    font-size: 1.2rem;
    text-align: center;
    color: aliceblue;
    margin: 0;
    padding: 0;
}


#vgameDiv{
    grid-area: 2 / 1 / span 1 / span 1;
    z-index: 2;
    margin: 0;
    padding: 0;
}

#vgameImage{
    grid-area: 1 / 2 / span 1 / span 1;
    max-width: 5rem;
    max-height: 5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    cursor: pointer;
}

#vgameImage:hover{
    box-shadow: 0 0 5px 5px rgba(155, 198, 236, 0.588);
    border-radius: 50%;
    opacity: 1.0;
}

#navVGames{
    grid-area: 3 / 2 / span 1 / span 1;
    z-index: 4;
    cursor: pointer;
}


#swpgmDiv{
    grid-area: 2 / 2 / span 1 / span 1;
    z-index: 2;
    margin: 0;
    padding: 0;
}

#swpgmImage{
    grid-area: 1 / 2 / span 1 / span 1;
    max-width: 5rem;
    max-height: 5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    cursor: pointer;
}

#swpgmImage:hover{
    box-shadow: 0 0 5px 5px rgba(155, 198, 236, 0.588);
    border-radius: 50%;
    opacity: 1.0;
}

#navSwpgm{
    grid-area: 3 / 2 / span 1 / span 1;
    z-index: 4;
    cursor: pointer;
}

#whoamiDiv{
    grid-area: 4 / 1 / span 1 / span 1;
    z-index: 2;
    margin: 0;
    padding: 0;
}

#whoamiImage{
    grid-area: 1 / 2 / span 1 / span 1;
    max-width: 5rem;
    max-height: 5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    cursor: pointer;
}

#whoamiImage:hover{
    box-shadow: 0 0 5px 5px rgba(155, 198, 236, 0.588);
    border-radius: 50%;
    opacity: 1.0;
}

#navWhoami{
    grid-area: 3 / 2 / span 1 / span 1;
    z-index: 4;
    cursor: pointer;
}

#sqHistDiv{
    grid-area: 4 / 3 / span 1 / span 1;
    z-index: 2;
    margin: 0;
    padding: 0;
}

#sqHistImage{
    grid-area: 1 / 2 / span 1 / span 1;
    max-width: 5rem;
    max-height: 5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    cursor: pointer;
}

#sqHistImage:hover{
    box-shadow: 0 0 5px 5px rgba(155, 198, 236, 0.588);
    border-radius: 50%;
    opacity: 1.0;
}

#navSqHist{
    grid-area: 3 / 2 / span 1 / span 1;
    z-index: 4;
    cursor: pointer;
}

#navDropdownBtn{
    width: calc(100vw - 70px) !important;
    background-color: rgba(1, 1, 6, 0.5);
    backdrop-filter: blur(5px);
    border-color: rgba(205, 205, 239, 0.1);
}

.navDropItem{
    width: calc(100vw - 70px) !important; 
    font-size: 15px;
}

.navDropItem:hover{
    background-color: rgba(1, 1, 6, 0.5) !important;
    color: aliceblue !important;
}

.navDropImg{
    width: 32px;
    height: 32px;
}

#socMedDiv{
    grid-area: 5 / 2 / span 1 / span 1;
    display: grid;
    grid-template-columns: repeat(4, 3rem);
    grid-template-rows: repeat(2, 3rem);
    gap: 0;
    align-items: center;
    position: relative;
    cursor: pointer;
}

#LinkedInImg{
    grid-area: 2 / 1 / span 1 / span 1;
    max-width: 2rem;
    max-height: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-content: center;
    z-index: 4;
    cursor: pointer;
}

#LinkedInImg:hover{
    box-shadow: 0 0 5px 5px rgba(155, 198, 236, 0.588);
    opacity: 1.0;
}

#EmailImg{
    grid-area: 2 / 2 / span 1 / span 1;
    max-width: 2rem;
    max-height: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-content: center;
    z-index: 4;
    cursor: pointer;
}

#EmailImg:hover{
    box-shadow: 0 0 5px 5px rgba(155, 198, 236, 0.588);
    border-radius: 50%;
    opacity: 1.0;
}
